aaa. {
     font: red;
     afaf: afaf;
     afa fa
}
aaa. {
     font: red;
     afaf: afaf;
     afa fa
}aaa. {
     font: red;
     afaf: afaf;
     afa fa
}aaa. {
     font: red;
     afaf: afaf;
     afa fa
}aaa. {
     font: red;
     afaf: afaf;
     afa fa
}aaa. {
     font: red;
     afaf: afaf;
     afa fa
}